.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./images/flower.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}
#btn
{
position: absolute;
top: 200px;
left: 40%;
}
#output{
    color: white;
    font-size: 40px;
}
